body {
    background-color: #CE9175;
    background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
    font-family: 'Merienda', cursive;
}

/* NAVIGATION */
ul {
    list-style: none;
}

li {
    float: right;
    padding: 0 16px;
}